@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base { 
  :root {
    --color-primary: #eca6a0;
    --color-secondary: #6b7b93;
    --color-background: #EDEEEE;
    --color-foreground: #1e293b;
    --color-background-secondary: #F9F9F9;
    --color-foreground-secondary: #475569;
    --color-accent: #ff000019;
    --color-muted: #94a3b8;
  }
  
  .dark {
    --color-primary: #613733;
    --color-secondary: #94a3b8;
    --color-background: #1f1f1f;
    --color-foreground: #fff9f9;
    --color-background-secondary: #171717;
    --color-foreground-secondary: #cbd5e1;
    --color-accent: #ff5c5c19;
    --color-muted: #2C2C2C;
  }  
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
