fastapi[standard]==0.114.1
requests==2.32.3
sqlalchemy==2.0.35
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
bcrypt==4.2.0
asyncpg==0.29.0
fastapi-csrf-protect==0.3.5
pydantic-settings==2.5.2
pycryptodome==3.20.0
pgvector==0.2.5
aiohttp==3.10.9
psycopg[binary]==3.2.3
colorlog==6.8.2
langgraph==0.2.39
langchain-postgres==0.0.12
langchain-openai==0.2.14
langchain==0.3.4
langgraph-sdk==0.1.45
langgraph-checkpoint-postgres==2.0.8
aiostream==0.6.4